# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.


/.git
# /.gitignore
# dependencies
/Backend
/TylerAldrich.dev/node_modules
/TylerAldrich.dev/portfolioBuildScripts
/functions/.env
/.pnp
.pnp.js
/package-lock.json
# testing
/TylerAldrich.dev/coverage
/TylerAldrich.dev/firebase_cred.js
/TylerAldrich.dev/credentials

# production
/TylerAldrich.dev/build
/TylerAldrich.dev/public/*
/TylerAldrich.dev/src/blog

# misc
.DS_Store
/FbFunctions/functions/env.json
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
