@import '../_variables.scss';

.code-block {
  // border: 1px solid $color-body;
  background: lighten($color-bg-body, 5);
  height: 75vh;
  width: 70vw;
  // max-width: 80vw; // You can set a maximum width if you like
  overflow-x: auto; // Allows horizontal scrolling if the code is too wide

  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */

  border: 1px solid lighten($color-bg-body, 7);
  border: 1px solid lighten($color-border, 1);
  border-radius: 5px;

  box-shadow:
    0 2px 4px rgba(0, 0, 0, 0.35),
    0 4px 8px rgba(0, 0, 0, 0.38),
    0 8px 16px rgba(0, 0, 0, 0.31);

  /* Smooth transition on hover */
  transition: box-shadow 0.6s linear;
  transition: border 0.3s ease-in-out;

  &:hover {
    border-top: 1px solid lighten($color-border, 8);
    border-right: 1px solid lighten($color-border, 8);
    border-bottom: 1px solid lighten($color-border, 8);

    animation: pulse 4s infinite; // Fixed this line

  }

  @keyframes pulse {
    0%, 100% { //#E5D18B
      box-shadow: 0 2px 4px  #E5D18B12,
                  0 4px 8px  #E5D18B12,
                  0 8px 16px #E5D18B12;
    }
    25%, 75% { //#E5D18B
      box-shadow: 0 2px 4px  #E5D18B5f
                  0 4px 8px  #E5D18B5f,
                  0 8px 16px #E5D18B5f;
    }
    50% {
      box-shadow: 0 5px 14px  #4F524D18,
                  0 8px 18px  #4F524D18,
                  0 12px 26px #4F524D18;
    }
  }

  &::-webkit-scrollbar {
    display: none;
  }

  // Tablet size
  @media #{$layout-tablet} {
    // Adjust styles as needed for tablet size
    margin: 0;
    width: 88vw;
  }

  // Mobile size
  @media #{$layout-mobile-lg} {
    // Adjust styles as needed for mobile size
    margin: 0;
    width: 88vw;
  }
}

.block-container{
  margin: auto;
  margin-right: 50px;
  width: 75vw;
  height: 70vh;


  // Tablet size
  @media #{$layout-tablet} {
  }

  // Mobile size
  @media #{$layout-mobile-lg} {
    margin: 0;
    width: 88vw;

  }
}
.block-helper{
  display: inline-block;
  color: $color-heading;
  text-align: left;
  font-size: 1.8rem;
  margin-left: 15vw;
  padding: 10px;
  border: 1px solid $color-heading;
  border-radius: 5px;
}

.block-title {
  margin-botton: 50px;
  margin-left: 185px;
  margin-top: 15px;

  h4 {
    margin-top: 10px;
    border-left: 1px solid lighten($color-bg-body, 10);
    padding-left: 10px;
    color: $color-body;

  @media #{$layout-mobile-lg} {
      font-size: 1rem;
    }
  }

  // Mobile size
  @media #{$layout-tablet} {
    margin: 0;
    margin-left: 185px;
    width: 88vw;

    h4 {
      margin-top: 15px;
      font-size: 1.2rem;
    }
  }
}

// Tyler, you were working on getting the styling for your code Block
// to work flawlessly for Desktop, Tablet and Cellphone(esspecially
// cellphone)
.code-container {
  margin-top: 20px;
  border: 5px solid lighten($color-bg-body, 9);
  border-radius: 5px;
  // width: 100%;
  @media #{$layout-tablet} {

  }
}

