@import '../_variables.scss';

.clear {
  // display: none;
  background: red;
}

.directory-viewer {
  display: flex;
  position: relative;

}
.directory-viewer-btn {
  position: absolute;
  top: 4px;
  left: -8px;
  color: $color-body;
  padding: 10px 15px;
  font-size: 1.3rem;
  border: 1px solid lighten($color-bg-body, 10);
  background: lighten($color-bg-body, 5);
  cursor: pointer;

  &:hover {
    background: lighten($color-bg-body, 10);
    border: 1px solid lighten($color-bg-body, 5);
  }

  @media (max-width: 480px) {
    font-size: 1rem;
    padding: 5px 10px;
    top: 5px;
  }
}

.dirhover {
  border-right: 10px solid lighten($color-bg-body, 9);
  width: 10px;
}
.directory {
  width: 250px;
  height: 85%;
  padding-top: 5px;
  padding-left: 5px;
  overflow: hidden;
  background: lighten($color-bg-body, 5);
  backdrop-filter: blur(6px) ;
  transition: opacity 0.2s linear;
  left: 0px;
  top: 100px;
  z-index: 1;
  overflow-y: auto;
  scrollbar-width: none;
  border-top: 1px solid lighten($color-bg-body, 7);
  border-right: 5px solid lighten($color-bg-body, 9);
  border-bottom: 1px solid lighten($color-bg-body, 7);


  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */

  /* For Chrome, Safari, and newer versions of Opera */
  &::-webkit-scrollbar {
    display: none;
  }
}

.code-block {
  flex-grow: 1;
}
.fileName,.directory-btn {
  cursor: pointer;
  margin-left: 8px;
}
.fileName, .directory-btn, .directory-name {
  color: $color-body;
  font-weight: semi-bold;
}
.directory-btn {
  transition: margin-right 0.3s ease-in;
  font-weight: bold;
  font-size: 1.25rem;

  &:hover {
    color: $light-color-theme;
    margin-right: 5px;
  }
}
.fileName {
  font-weight: 500;
  transition: margin-left 0.3s ease-in-out;

  &:hover {
    margin-left: 12px;
  }
}

.directory-listing {
  margin-left: 8px;

}
.directory-name {
  font-weight: bold;

}

.fileName-container {
  display: flex;
  flex-direction: flex-row;
  margin: 5px;

  &:nth-child(2n) {
    background: lighten($color-bg-body, 7);
    transtion: background 0.3s ease;

    &:hover {
      background: lighten($color-bg-body, 8);
    }
  }
  &:nth-child(2n+1){
    background: lighten($color-bg-body, 9);
    transtion: background 0.3s ease;

    &:hover {
      background: lighten($color-bg-body, 8);
    }
  }

  .fileName {
    line-height: 30px;
  }
}

